[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Wikidata
Name[ca]=Wikidata
Name[cs]=Wikidata
Name[es]=Wikidata
Name[eu]=Wikidata
Name[nl]=Wikidata
Name[sk]=Wikiúdaje
Name[sl]=Wikidata
Name[sv]=Wikidata
Name[uk]=Вікідані
Name[x-test]=xxWikidataxx
Exec=mycroft-gui-app --hideTextInput --skill=skill-wikidata.aiix.home
Icon=wikidata-skill
Categories=VoiceApp
StartupNotify=false
